@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #3b1c75;
}
.secondary-color {
  color: #bfce0e;
}
.bg-primary-color {
  background-color: #3b1c75;

  color: #ffffff;
}
.bg-secondary-color {
  background-color: #bfce0e;
  color: #333;
}
